.btnComprarProduto {
  /* composes: btn; */
  /* color: #fefae0; */
}

.btnExcluirProduto {
  /* composes: btn; */
  /* color: #fefae0; */
}

.texto {
  margin: 2px;
  padding: 2px;
}

.cabecalhoProduto {
  composes: texto;
  font-size: 2em;
}

.imgProduto {
  width: 98vw;
  height: auto;
}

.descricaoProduto {
  composes: texto;
  text-align: justify;
  text-indent: 2em;
  font-size: 1.2em;
}

.painelCompra {
  display: flex;  
  justify-content: space-between;
}

.precoProduto {
  font-size: 1.5em;
  color: #2b9348;
}

.precoInvisivel {
  display: none; 
}